**Pandas** 

An open source Python Library for data analysis and manipulation, especially data of the form tables and time series. 

It is much more powerful than excel and simpler too.

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('pokemon_data.csv')
df.head() ## Prints first five rows of the dataframe
df.tail() ## Prints last 5 rows of the dataframe

       #                 Name   Type 1  ... Speed  Generation  Legendary
795  719              Diancie     Rock  ...    50           6       True
796  719  DiancieMega Diancie     Rock  ...   110           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[5 rows x 12 columns]

In [6]:
### Reading a txt file, xlsx or any other delimiter files

df1 = pd.read_excel('pokemon_data.xlsx') ## Reading an excel file
df1.head()

df1 = pd.read_csv('pokemon_data.txt', delimiter='\t') ## Reading a tab seperated value of tsv file. Delimiter can be user-defined.
df1.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [7]:
## Printing the column headers
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [14]:
## Printing Rows of data frame:
print(df.head())
print(df.iloc[:2])
print(df.iloc[:2, 2:5])


## Note: iloc can be used only for number based indexing. for better indexing based on conditions nad values use loc

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]
   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False

[2 rows x 12 columns]
  Type 1  Type 2  HP
0  Grass  Poison  45
1  Grass  Poison  60

In [16]:
print(df['Name'])
print(df[['Name', 'Type 1', 'Type 2']])

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object
                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

In [17]:
df.loc[df['Type 1'] == 'Grass']

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
48    43                 Oddish  Grass  ...    30           1      False
..   ...                    ...    ...  ...   ...         ...        ...
718  650                Chespin  Grass  ...    38           6      False
719  651              Quilladin  Grass  ...    57           6      False
720  652             Chesnaught  Grass  ...    64           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False

[70 rows x 12 columns]

**Describe the data using mean, median etc**

In [18]:
df.describe()

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

**Sorting Dataframe**

In [19]:
df.sort_values('Name') # sorted in alphabetical order. NOTE: It is not an inplace operation

       #                     Name   Type 1  ... Speed  Generation  Legendary
510  460                Abomasnow    Grass  ...    60           4      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
68    63                     Abra  Psychic  ...    90           1      False
392  359                    Absol     Dark  ...    75           3      False
393  359          AbsolMega Absol     Dark  ...   115           3      False
..   ...                      ...      ...  ...   ...         ...        ...
632  571                  Zoroark     Dark  ...   105           5      False
631  570                    Zorua     Dark  ...    65           5      False
46    41                    Zubat   Poison  ...    55           1      False
695  634                 Zweilous     Dark  ...    58           5      False
794  718         Zygarde50% Forme   Dragon  ...    95           6       True

[800 rows x 12 columns]

In [20]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [23]:
df.sort_values(['Name', 'HP'], ascending = False)

       #                     Name   Type 1  ... Speed  Generation  Legendary
794  718         Zygarde50% Forme   Dragon  ...    95           6       True
695  634                 Zweilous     Dark  ...    58           5      False
46    41                    Zubat   Poison  ...    55           1      False
631  570                    Zorua     Dark  ...    65           5      False
632  571                  Zoroark     Dark  ...   105           5      False
..   ...                      ...      ...  ...   ...         ...        ...
393  359          AbsolMega Absol     Dark  ...   115           3      False
392  359                    Absol     Dark  ...    75           3      False
68    63                     Abra  Psychic  ...    90           1      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
510  460                Abomasnow    Grass  ...    60           4      False

[800 rows x 12 columns]

In [24]:
df.sort_values(['Name', 'HP'], ascending=[False, True])

       #                     Name   Type 1  ... Speed  Generation  Legendary
794  718         Zygarde50% Forme   Dragon  ...    95           6       True
695  634                 Zweilous     Dark  ...    58           5      False
46    41                    Zubat   Poison  ...    55           1      False
631  570                    Zorua     Dark  ...    65           5      False
632  571                  Zoroark     Dark  ...   105           5      False
..   ...                      ...      ...  ...   ...         ...        ...
393  359          AbsolMega Absol     Dark  ...   115           3      False
392  359                    Absol     Dark  ...    75           3      False
68    63                     Abra  Psychic  ...    90           1      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
510  460                Abomasnow    Grass  ...    60           4      False

[800 rows x 12 columns]

In [28]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
###df.drop(columns = ['Total']) ## To remove a column 
cols = list(df.columns)
df['Total'] = df.iloc[:, 4:12].sum(axis=1) ##axis =1 means that we sum it up along the colums---ie. horizontally
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

df.head(5)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

In [29]:
df.to_csv('modified.csv', index=False) # Saving as CSV

df.to_excel('modified.xlsx', index=False) # Saving as Excel sheet

df.to_csv('modified.txt', index=False, sep='\t') # Saving as TSV

# NOTE: index = 0, eliminates the index being writen into the output file

**Filtering Data**

In [31]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 50)]
print(new_df)

       #                   Name Type 1  ... Speed  Generation  Legendary
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
49    44                  Gloom  Grass  ...    40           1      False
50    45              Vileplume  Grass  ...    50           1      False
76    70             Weepinbell  Grass  ...    55           1      False
77    71             Victreebel  Grass  ...    70           1      False
452  407               Roserade  Grass  ...    90           4      False
651  590                Foongus  Grass  ...    15           5      False
652  591              Amoonguss  Grass  ...    30           5      False

[10 rows x 13 columns]

In [34]:
new_df.reset_index(drop=True, inplace=True)
new_df
## The reset_index generates a new index for all the data elements and drop =true deletes the old index column and inplace = true ensures that the change is written back into the new_df

     #                   Name Type 1  ... Speed  Generation  Legendary
0    2                Ivysaur  Grass  ...    60           1      False
1    3               Venusaur  Grass  ...    80           1      False
2    3  VenusaurMega Venusaur  Grass  ...    80           1      False
3   44                  Gloom  Grass  ...    40           1      False
4   45              Vileplume  Grass  ...    50           1      False
5   70             Weepinbell  Grass  ...    55           1      False
6   71             Victreebel  Grass  ...    70           1      False
7  407               Roserade  Grass  ...    90           4      False
8  590                Foongus  Grass  ...    15           5      False
9  591              Amoonguss  Grass  ...    30           5      False

[10 rows x 13 columns]

In [37]:
df.loc[df['Name'].str.contains('Mega')] ## Inside the contains function you can even pass a regex

       #                       Name    Type 1  ... Speed  Generation  Legendary
3      3      VenusaurMega Venusaur     Grass  ...    80           1      False
7      6  CharizardMega Charizard X      Fire  ...   100           1      False
8      6  CharizardMega Charizard Y      Fire  ...   100           1      False
12     9    BlastoiseMega Blastoise     Water  ...    78           1      False
19    15      BeedrillMega Beedrill       Bug  ...   145           1      False
23    18        PidgeotMega Pidgeot    Normal  ...   121           1      False
71    65      AlakazamMega Alakazam   Psychic  ...   150           1      False
87    80        SlowbroMega Slowbro     Water  ...    30           1      False
102   94          GengarMega Gengar     Ghost  ...   130           1      False
124  115  KangaskhanMega Kangaskhan    Normal  ...   100           1      False
137  127          PinsirMega Pinsir       Bug  ...   105           1      False
141  130      GyaradosMega Gyarados     Water  ...    81           1      False
154  142  AerodactylMega Aerodactyl      Rock  ...   150           1      False
163  150        MewtwoMega Mewtwo X   Psychic  ...   130           1       True
164  150        MewtwoMega Mewtwo Y   Psychic  ...   140           1       True
168  154                   Meganium     Grass  ...    80           2      False
196  181      AmpharosMega Ampharos  Electric  ...    45           2      False
224  208        SteelixMega Steelix     Steel  ...    30           2      False
229  212          ScizorMega Scizor       Bug  ...    75           2      False
232  214    HeracrossMega Heracross       Bug  ...    75           2      False
248  229      HoundoomMega Houndoom      Dark  ...   115           2      False
268  248    TyranitarMega Tyranitar      Rock  ...    71           2      False
275  254      SceptileMega Sceptile     Grass  ...   145           3      False
279  257      BlazikenMega Blaziken      Fire  ...   100           3      False
283  260      SwampertMega Swampert     Water  ...    70           3      False
306  282    GardevoirMega Gardevoir   Psychic  ...   100           3      False
327  302        SableyeMega Sableye      Dark  ...    20           3      False
329  303          MawileMega Mawile     Steel  ...    50           3      False
333  306          AggronMega Aggron     Steel  ...    50           3      False
336  308      MedichamMega Medicham  Fighting  ...   100           3      False
339  310    ManectricMega Manectric  Electric  ...   135           3      False
349  319      SharpedoMega Sharpedo     Water  ...   105           3      False
354  323      CameruptMega Camerupt      Fire  ...    20           3      False
366  334        AltariaMega Altaria    Dragon  ...    80           3      False
387  354        BanetteMega Banette     Ghost  ...    75           3      False
393  359            AbsolMega Absol      Dark  ...   115           3      False
397  362          GlalieMega Glalie       Ice  ...   100           3      False
409  373    SalamenceMega Salamence    Dragon  ...   120           3      False
413  376    MetagrossMega Metagross     Steel  ...   110           3      False
418  380          LatiasMega Latias    Dragon  ...   110           3       True
420  381          LatiosMega Latios    Dragon  ...   110           3       True
426  384      RayquazaMega Rayquaza    Dragon  ...   115           3       True
476  428        LopunnyMega Lopunny    Normal  ...   135           4      False
494  445      GarchompMega Garchomp    Dragon  ...    92           4      False
498  448        LucarioMega Lucario  Fighting  ...   112           4      False
511  460    AbomasnowMega Abomasnow     Grass  ...    30           4      False
527  475        GalladeMega Gallade   Psychic  ...   110           4      False
591  531          AudinoMega Audino    Normal  ...    50           5      False
796  719        DiancieMega Diancie      Rock  ...   110           6       True

[49 rows x 13 columns]

**Regex based filtering**

In [39]:
import re

df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
4      4             Charmander   Fire  ...    65           1      False
..   ...                    ...    ...  ...   ...         ...        ...
735  667                 Litleo   Fire  ...    72           6      False
736  668                 Pyroar   Fire  ...   106           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False
799  721              Volcanion   Fire  ...    70           6       True

[122 rows x 13 columns]